<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두리쥬아</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/layout_base.css">

</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="header_area box_inner clear">
                <h1><a href="/">두리쥬아</a></h1>
                <p class="openMOgnb"><a href="#"><b class="hdd">메뉴열기</b><span></span><span></span><span></span></a></p>
                <!-- header_cont -->
                <div class="header_cont">
                    <ul class="util clear">
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/register">회원가입</a></li>
                    </ul>
                    <nav>
                        <a href="/" ><img src="/static/images/logo2.png"  alt="두리쥬아"></a> 
                        <ul class="gnb clear" >
                            <li><a href="/food" class="openAll1">맛집</a></li>
                            <li><a href="/cafe" class="openAll2">카페</a></li>
                            <li><a href="/play" class="openAll3">놀거리</a></li>
                            <li><a href="/shop" class="openAll4">쇼핑</a></li>
                            <li><a href="/pick" class="openAll4">두리쥬아 PICK 코스 </a></li>
                            <li><a href="/board" class="openAll4">게시판</a></li>
                        </ul>
                    </nav>
                    <p class="closePop"><a href="#">닫기</a></p>
                </div>
            </div>
        </header>
        
</div>    
    
    <div class="area_choice">
        <h4 style="padding-top: 130px; font-size: 20px;"> 맛집 >> 지역선택 </h4>
       

        <div id="area_table" style="width: 800px;">
            <p id="seoul"><a href="/food_Seoul">서울</a></p>
            <p id="gyeonggi"><a href="/food_Gyeonggido">경기도</a></p>
        </div>
 
        <div id="area_table">
            <table>
                <tr>
                    <td style="padding-bottom: 350px;"> <a href="/food_Seoul">.</a></td> 
                    <td ><a href="/food_Gyeonggido">.</a></td>
                </tr>
              
            </table>
        </div>


    </div>
</body>
</html>