<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두리쥬아</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/layout_base.css">
    
</head>

<body>
<ul class="skipnavi">
    <li><a href="#container">본문내용</a></li>
</ul>
<!-- wrap 시작 -->
<div id="wrap">
    <header id="header">
        <div class="header_area box_inner clear">
            <h1><a href="/">두리쥬아</a></h1>
            <p class="openMOgnb"><a href="#"><b class="hdd">메뉴열기</b><span></span><span></span><span></span></a></p>
            <!-- header_cont -->
            <div class="header_cont">
                <ul class="util clear">
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/register">회원가입</a></li>
                </ul>
                
                <nav>
                    <a href="/" ><img src="/static/images/logo2.png"  alt="두리쥬아"></a> 
                    <ul class="gnb clear" >
                        <li><a href="/food" class="openAll1">맛집</a></li>
                        <li><a href="/cafe" class="openAll2">카페</a></li>
                        <li><a href="/play" class="openAll3">놀거리</a></li>
                        <li><a href="/shop" class="openAll4">쇼핑</a></li>
                        <li><a href="/pick" class="openAll4">두리쥬아 PICK 코스 </a></li>
                        <li><a href="/board" class="openAll4">게시판</a></li>
                    </ul>
                </nav>
                <p class="closePop"><a href="#">닫기</a></p>
            </div>
        </div>
    </header>

    <div id="photo">
        <img src="/static/images/place.png" alt="장소" 
        style=" margin-top: 115px;  width: 70%; height: 450px; margin-left: 250px;"  >
    </div><br><br><br> <hr style="color:pink; border-width: 3px; margin: 0 100px 0 100px;">

    <div class="about_area">
        <h2>Popular Place >> </h2>
            <div class="about_box">
                <ul class="place_list box_inner clear">
                    <li><a href="https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%EB%9D%BC%EB%9D%BC%EB%B8%8C%EB%A0%88%EB%93%9C&oquery=%EB%A7%88%EC%B9%B4%EB%A1%B1+%EB%A7%9B%EC%A7%91&tqi=U0%2FzHwprvh8ssKveWnwssssstmR-292344"><img class="img_topplace" src="/static/images/songpagu/lalabread.jpg" alt="라라브레드"></a><h3>라라브레드</h3><p class="txt">위치 : 잠실점, 공릉점, 광주점 등 <br>시간: 매일 10:00 - 22:00 <br> 프렌차이점 빵집으로 요즘 떠오르고 있는 빵집중 하나!</p></li>
                    <li><a href="https://map.naver.com/v5/entry/place/755444728?c=14149926.5844716,4509548.1584453,15,0,0,0,dh&placePath=%3Fentry=plt"><img class="img_topplace" src="/static/images/songpagu/peachgray.jpg" alt="피치그레이"></a><h3>피치그레이</h3><p class="txt">위치: 서울 송파구 가락로21길 14-1 <br>시간: 매일 11:00 - 21:00<br> 커피마시면서 수채화를 그리는 인기만점 카페! </p></li>
                    <li><a href="https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%EC%B2%9C%EC%82%AC%EA%B3%B1%EC%B0%BD&oquery=%ED%94%BC%EC%B9%98%EA%B7%B8%EB%A0%88%EC%9D%B4&tqi=U0%2FJXwp0J1sssusI4usssssst6h-420841"><img class="img_topplace" src="/static/images/songpagu/gochung.jpg" alt="천사곱창"></a><h3>천사곱창</h3><p class="txt">위치: 강서구, 마포, 김포, 관악 등 <br> 시간 : 15:30 - 02:30<br> 프렌차이점 소곱창집으로 예전부터 지금까지 쭉- 인기있는 곱창집!</p></li>
                    <p><a href="#"  style="color:#000; font-size: 25px;  margin-top: 70px; float: right;" > More view </href></a></p>
                </ul>
            </div>
        </div>
        <div class="about_area">
            <h2>New Place >> </h2>
            <div class="about_box">
                <ul class="place_list box_inner clear">
                    <li><a href="https://map.naver.com/v5/entry/place/1296867268?c=14151439.1498322,4415531.8413069,15,0,0,0,dh&placePath=%2Fhome%3Fentry=pll"><img class="img_topplace" src="/static/images/seoul/makalong.jpg" alt="마카롱"></a><h3>마카롱</h3><p class="txt">위치 : 충난 천안시 서북구 한들3로 두현빌딩 105호<br> 시간 : 10:00 - 22:00 <br> 천안에 최근에 생긴 마카롱집으로 많은 종류의 마카롱을 팔고 있다!</p></li>
                    <li><a href="https://map.naver.com/v5/entry/place/37854673?c=14128911.7244023,4516402.4434149,15,0,0,0,dh&placePath=%3Fentry=pll&placeSearchOption=entry=pll%26fromNxList=true"><img class="img_topplace" src="/static/images/seoul/crime scene.jpg" alt="방탈출카페"></a><h3>방탈출 카페</h3><p class="txt">위치 : 서울 마포구 와우산로21길 34 3층 퍼즐팩토리 홍대본점 <br>시간 : 매일 10: 00  24:00 <br> 스토리는 크라임씬 중전마마 살인사건 /  크라임씬 장화홍련이 있다! </p></li>
                    <li><a href="https://map.naver.com/v5/entry/place/1296867268?c=14151439.1498322,4415531.8413069,15,0,0,0,dh&placePath=%2Fhome%3Fentry=pll"><img class="img_topplace" src="/static/images/경기도/noodle.jpg" alt="짜장면"></a><h3>짜장면</h3><p class="txt">위치 : 경기 시흥시 서촌상가3길 21 <br> 시간 : 매일 11:30 - 21:30 월 3회 휴무 <br> 새로생긴지 별로 안됐지만 맛있다는 후기가 많은 음식점! 배달도 가능!</p></li>
                    <p><a href="#"  style="color:#000; font-size: 25px;  margin-top: 70px; float: right;" > More view </href></a></p>
                </ul>
                
            </div>
        </div>
      
    <!-- container 끝 -->
    <footer>
        <div class="foot_area box_inner">
            <ul class="foot_list clear">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보취급방침</a></li>
            </ul>
            <h2>두리쥬아</h2>
            <p class="addr">서울특별시 강남구 <span class="gubun">/</span><span class="br_line"> 대표전화 <span class="space0">02-1234-5678</span> <span class="gubun">/</span><span class="br_line"> E-mail : <span class="space0">dorijuah@naver.com</span></span></span></p>
            <p class="copy box_inner">Copyright(c) Dulijua all right reserved</p>
        </div>
    </footer>
</div>
<!-- wrap 끝 -->

<!-- quick list 시작-->
<h2 class="hdd">빠른링크 : 전화문의, 카카오톡, 오시는 길, TOP으로</h2>
<div class="quick_area">
    <ul class="quick_list">
        <li><a href="tel:02-1111-1111"><h3>전화 문의</h3><p>02-1111-1111</p></a></li>
        <li><a href="#"><h3>카카오톡 <em>상담</em></h3><p>1:1상담</p></a></li>
        <li><a href="#"><h3 class="to_content">오시는 길</h3></a></li>
    </ul>
    <p class="to_top"><a href="#">TOP</a></p>
</div>
<!-- quick list 끝 -->
</body>
</html>