<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두리쥬아</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/layout_base.css">
    <link rel="stylesheet" href="/static/css/style1.css">

    <style>
        .editor {
            min-height: 150px;
            padding: 10px;
            border: 1px solid #ccc;
            border-top: none;
          }
          
          .toolbar {
            padding: 8px;
            border: 1px solid #ccc;
            background-color: #eee;
          }
          
          .toolbar a {
            border: 1px solid #AAA;
            background: #FFF;
            color: black;
            padding: 4px;
            display: inline-block;
            text-decoration: none;
            box-shadow: 0px 1px 0px #CCC;
          }
          
          .toolbar a:hover {
            background: #f2f2f2;
            border-color: #8c8c8c;
          }
    </style>
    
    
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="header_area box_inner clear">
                <h1><a href="/">두리쥬아</a></h1>
                <p class="openMOgnb"><a href="#"><b class="hdd">메뉴열기</b><span></span><span></span><span></span></a></p>
                <!-- header_cont -->
                <div class="header_cont">
                    <ul class="util clear">
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/register">회원가입</a></li>
                    </ul>
                    <nav >
                        <a href="/" ><img src="/static/images/logo2.png"  alt="두리쥬아" style="height: 70px;"></a> 
                        <ul class="gnb clear" >
                            <li><a href="/food" class="openAll1">맛집</a></li>
                            <li><a href="/cafe" class="openAll2">카페</a></li>
                            <li><a href="/play" class="openAll3">놀거리</a></li>
                            <li><a href="/shop" class="openAll4">쇼핑</a></li>
                            <li><a href="/pick" class="openAll4">두리쥬아 PICK 코스 </a></li>
                            <li><a href="/board" class="openAll4">게시판</a></li>
                        </ul>
                    </nav>
                    <p class="closePop"><a href="#">닫기</a></p>
                </div>
            </div>
        </header>
        
</div>  
<div class="night"> 
        <h1 style="font-size: 45px;   height: 40px; font-weight: 600;
        margin-top: 200px; text-align: center; color: gray;">야경이 아름다운 서울 명소 베스트 10</h1><br><br><br>
        <div class="slider">
        <div class="slider-btn-wrapper slider-btn-wrapper-left">
            <button id="left-btn" class="slider-btn">&larr;</button>
        </div>
        <div class="item-wrapper" style="height: 400px;">
            <div class="item" style="width: 380px; height:400px;">
            <img style="height: 300px;" src="/static/images/night/night1.png"/>
            <div class="title">
                <h2>광화문 광장</h2>
                <p>위치 : 종로구 세종로</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img  style="height: 300px;" src="/static/images/night/night2.png"/>
            <div class="title">
                <h2>낙산공원</h2>
                <p>위치 : 종로구</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img  style="height: 300px;" src="/static/images/night/night3.png"/>
            <div class="title">
                <h2>남산 서울타워</h2>
                <p>위치 : 중구</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img style="height: 300px;" src="/static/images/night/night4.png"/>
            <div class="title">
                <h2>하늘공원</h2>
                <p>위치 : 마포구</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img style="height: 300px;" src="/static/images/night/night5.png"/>
            <div class="title">
                <h2>63전망대</h2>
                <p>위치 : 영등포구 여의도</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img style="height: 300px;" src="/static/images/night/night6.png"/>
            <div class="title">
                <h2>북안산</h2>
                <p>위치 : 종로구</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img style="height: 300px;" src="/static/images/night/night7.png"/>
            <div class="title">
                <h2>반포대교</h2>
                <p>위치 : 서초구</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img style="height: 300px;" src="/static/images/night/night8.png"/>
            <div class="title">
                <h2>매봉산</h2>
                <p>위치 : 강남구</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img style="height: 300px;" src="/static/images/night/night9.png"/>
            <div class="title">
                <h2>선유도</h2>
                <p>위치 : 영등포구</p>
            </div>
            </div>
            <div class="item" style="width: 380px; height:400px;">
            <img style="height: 300px;" src="/static/images/night/night10.png"/>
            <div class="title">
                <h2>석촌호수</h2>
                <p>위치 : 송파구</p>
            </div>
            </div>

        </div>
        <div class="slider-btn-wrapper slider-btn-wrapper-right">
            <button id="right-btn" class="slider-btn">&rarr;</button>
        </div>
        </div>
    </div>


    <div class="toolbar" style="margin-top: 100px;" > 
        <a href="" data-command='h1'>H1</a> 
        <a href="" data-command='h2'>H2</a>
        <a href="" data-command='h3'>H3</a>
        <a href="" data-command='p' style="margin-right: 8px;">P</a>
        <a href="" data-command='bold'>
          <i class='fa fa-bold'></i>
        </a>
        <a href="" data-command='italic'>
          <i class='fa fa-italic'></i>
        </a>
        <a href="" data-command='underline'>
          <i class='fa fa-underline'></i>
        </a>
        <a href="" data-command='strikeThrough'style="margin-right: 8px;">
          <i class='fa fa-strikethrough'></i>
        </a>
        <a href="" data-command='justifyLeft'>
          <i class='fa fa-align-left'></i>
        </a>
        <a href="" data-command='justifyCenter'>
          <i class='fa fa-align-center'></i>
        </a>
        <a href="" data-command='justifyRight'>
          <i class='fa fa-align-right'></i>
        </a>
        <a href="" data-command='justifyFull' style="margin-right: 8px;">
          <i class='fa fa-align-justify'></i>
        </a>
      </div>

      <div class='editor' contenteditable="true" >
        <h1 style="font-size: 39px;">메모장</h1>
      </div>
      
    
        <script>
        (function() {
        const itemWrapperEl = document.querySelector('.item-wrapper'),
                leftBtnEl = document.getElementById('left-btn'),
                rightBtnEl = document.getElementById('right-btn');

        function moveSlides(direction) {
            const item = itemWrapperEl.querySelector('.item'),
                itemMargin = parseFloat(getComputedStyle(item).marginRight);
                itemWidth = itemMargin + item.offsetWidth + 2;

            let itemCount = Math.round(itemWrapperEl.scrollLeft / itemWidth);

            if (direction === 'left') {
            itemCount = itemCount - 1;
            } else {
            itemCount = itemCount + 1;
            }
            itemWrapperEl.scrollLeft = itemWidth * itemCount;
        }

        leftBtnEl.addEventListener("click", e => moveSlides("left"));
        rightBtnEl.addEventListener("click", e => moveSlides("right"));
        })();


        /* editor*/
        document.querySelectorAll('.toolbar a')
          .forEach(aEl => aEl.addEventListener('click', function (e) { 
            e.preventDefault();
            const command = aEl.dataset.command; 
            if (command == 'h1' || command == 'h2' || command == 'h3' || command == 'p') {
              document.execCommand('formatBlock', false, command); 
            } else {
              document.execCommand(command); } 
            }));  
        </script>




</div>
</body>
</html>