<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두리쥬아</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/layout_base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  

</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="header_area box_inner clear">
                <h1><a href="/">두리쥬아</a></h1>
                <p class="openMOgnb"><a href="#"><b class="hdd">메뉴열기</b><span></span><span></span><span></span></a></p>
                <!-- header_cont -->
                <div class="header_cont">
                    <ul class="util clear">
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/register">회원가입</a></li>
                    </ul>
                    <nav >
                        <a href="/" ><img src="/static/images/logo2.png"  alt="두리쥬아" style="height: 70px;"></a> 
                        <ul class="gnb clear" >
                            <li><a href="/food" class="openAll1">맛집</a></li>
                            <li><a href="/cafe" class="openAll2">카페</a></li>
                            <li><a href="/play" class="openAll3">놀거리</a></li>
                            <li><a href="/shop" class="openAll4">쇼핑</a></li>
                            <li><a href="/pick" class="openAll4">두리쥬아 PICK 코스 </a></li>
                            <li><a href="/board" class="openAll4">게시판</a></li>
                        </ul>
                    </nav>
                    <p class="closePop"><a href="#">닫기</a></p>
                </div>
            </div>
        </header>
        
</div>    
    
    <div style="margin-top: 300px;">
    

        <div class="container marketing">

            <div class="album py-5 bg-light">
              <div class="container">
      
                <div class="row">

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <h2 style="color: gray; font-weight: 600; font-size:50px; text-shadow: 0 8px 16px 0 #000000; ">
                            야경 추천</h2>
                        <p class="card-text">해가 지는 이쁜 노을이 보고 싶은분!</p>밤에 이쁜 풍경보면서 거리를 걷고 싶은분!<br>
                        <a href="/play1">보러가기 CLICK</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <h2 style="color: gray; font-weight: 600; font-size:50px; text-shadow: 0 8px 16px 0 #000000; ">리단길 추천</h2>
                        <p class="card-text">요즘 모든게 있는 지역별로 '리단길'을 추천해줍니다!<br> 경리단길, 송리단길, 이태원 </p>
                        <a href="/play3">보러가기 CLICK</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-body">
                        <h2 style="color: gray; font-weight: 600; font-size:50px; text-shadow: 0 8px 16px 0 #000000; ">Activity <br> 놀거리 추천</h2>
                        <p class="card-text">재밌고 흥미진진한 놀거리에 가고 싶은 분! <br> 즐거움 100%로 보장합니다! <br><br></p>
                        <a href="/play4">보러가기 CLICK</a>
                      </div>
                    </div>
                  </div>
      
                </div>
              </div>
            </div>

        </div>
    </div>


</div>
</body>
</html>